.nav-bar {
    background: #181818;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    margin-left: 0px;

    .logo{
        display: block;
        padding: 8px 0;
    }
    .sub-logo {
        width: 50px;
        height: auto;
        display: inline;
        margin: 8px 0;
    }
}